APP_NAME="PDH Foundation"
APP_ENV=production
APP_URL=http://localhost/pdhfoundation
APP_DEBUG=false

DB_HOST=192.168.111.240
DB_PORT=3306
DB_DATABASE=pdhfoundation
DB_USERNAME=tomwebdbnavicat
DB_PASSWORD=@TOM$NavicatDB10832

SESSION_LIFETIME=120
CSRF_TOKEN_SECRET=change_me_to_random_string
